/* style.css */

body {
    background-color: rgb(20, 40, 60);
    color: rgb(240, 248, 255);
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.3em;
}

a {
    color: rgb(255, 111, 111);
}

.card mb-3 .row g-0 .col-md-4 .i{
    font-size: 180px; }
