/* style.css */
html {
  scroll-behavior: smooth;
}
body {
    display= flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
a {
    color: rgb(255, 111, 111);
}
.material-icons .md-18 { font-size: 180px; }
.material-icons.md-18 { font-size: 180px; }
.wrapper{
  
}
.wrapper h1{
  text-align: center;
}
